@font-face {
  font-family: 'pixelSix';
  src: url('./fonts/pixelsix00.ttf');
}

@font-face {
  font-family: 'M';
  src: url('./fonts/m3x6.ttf');
}

body {
  margin: 0 auto;
  padding: 0;
  background: #021c2f;
}

h1, h2, h3 {
  font-family: 'M', Helvetica, sans-serif;
  text-shadow: 2px 2px rgb(187, 187, 187);
}

.header-text {
  color: white;
  text-shadow: none;
}

h1 {
  font-size: 4em;
}

h4, h5, h6 {
  font-family: 'pixelSix', Helvetica, sans-serif;
  color: white;
  margin: 1em 0 0 0;
}

h4 {
  text-shadow: 1px 1px rgb(95, 95, 95);
}

h5 {
  color: rgb(255, 255, 255);
}

.main-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background: #021c2f;
  padding-bottom: 5em;
}

.container {
  margin: 0 auto;
  width: 80%;
}

#header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url('./assets/boss_room_background.png');
  background-size: cover;
  background-position-x: center;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

header {
  font-family: 'M', Arial, Helvetica, sans-serif;
  font-size: 20em;
  text-shadow: 2px 2px rgb(187, 187, 187);
}

.background-information {
  display: flex;
}

.reverse-row {
  flex-direction: row-reverse;
}

.background-image {
  height: 200px;
  width: 200px;
  background-color: transparent;
}

.background-text {
  font-family: 'pixelSix', Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
}

.unity-demo {
  margin: 0 auto;
  height: 33%;
  width: 90%;
  background-color: rgb(4, 0, 58);
  color: white;
}

.download-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 35%;
  width: 80%;
  background-color: rgb(241, 241, 241);
  color: black;
  box-shadow: 0 0 0 2px rgb(54, 54, 54),
  0 0 0 3px rgb(255, 254, 254),
  0 0 0 9px rgb(214, 214, 214),
  0 0 0 12px rgb(161, 161, 161),
  0 0 0 13px rgb(119, 119, 119),
  0 0 0 14px rgb(68, 68, 68),
  0 0 0 15px rgb(46, 46, 46);
}

.download {
  height: 60px;
  width: 60%;
  font-family: 'M', 'pixelSix', Arial, Helvetica, sans-serif;
  font-size: 3em;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(90, 89, 89);
  background-color: #3a5869;
  box-shadow: 0 7px 0 0 #1e2d36;
  border: none;
  outline: none;
}

.download:hover {
  background-color: #5a87a1;
  box-shadow: 0 7px 0 0 #2d4352;
  cursor: pointer;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.member-container {
  display: flex;
  flex-direction: column;
  margin: 3em 3em 0em 3em;
}

.member-image {
  height: 250px;
  width: 250px;
  background-color: black;
  margin-bottom: .5em;
  box-shadow: 0 0 0 2px rgb(54, 54, 54),
  0 0 0 3px rgb(255, 254, 254),
  0 0 0 9px rgb(214, 214, 214),
  0 0 0 12px rgb(161, 161, 161),
  0 0 0 13px rgb(119, 119, 119),
  0 0 0 14px rgb(68, 68, 68),
  0 0 0 15px rgb(46, 46, 46);
}
