body {
  margin: 0 auto;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  width: 80%;
}

h2, h3 {
  text-transform: uppercase;
}

h4 {
  text-align: left;
}

.title {
  height: 75px;
  margin-bottom: 8px;
}

nav {
  display: flex;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

li {
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: #aaa;
}

.opener {
  width: 100%;
}

button {
  background: none;
  border: 1px solid white;
  border-radius: 3px;
  height: 50px;
  width: 200px;
  color: white;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

.large-button {
  text-transform: uppercase;
  font-size: 26px;
  width: 400px;
}

.medium-button {
  font-size: 22px;
  width: 300px;
}

#intro {
  background: linear-gradient(#4f3535, #000);
  margin-top: -20px;
}

#intro p {
  padding-top: 20px;
}

.animations {
  height: 200px;
  width: 400px;
}

.story {
  height: 200px;
}

.features-container {
  display: flex;
  margin: 0 auto;
  width: 70%;
}

.team-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 30px;
}

.name {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.role {
  color: gray;
}

.headshot {
  height: 200px;
  margin-bottom: 20px;
}

.red {
  color: red;
}
